<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebpackMe - Plugin Pack</title>
</head>

<body>
  <div id="app">
    <script>
      console.log(window.ctrler)
      window.onload = function () {
        const sampleController = ctrler.create({
          axiosInstance: {
            baseURL: 'https://mocki.io/v1/'
          },
          dataHandler: {
            success: function (res) {
              if (
                res.data &&
                res.data.success
              ) {
                return 'Progress Success'
              } else {
                throw new Error('Response Error') // Response Error
              }
            }
          }
        })

        // # Controller Error
        // ## add error
        sampleController.error.add({
          code: ['1061', 'Response Error'],
          descript: {
            'en': 'Response Data Error',
            'zh-tw': '回應的內容錯誤'
          }
        })
        // ## rewrite error
        sampleController.error.rewrite({
          code: '1011',
          descript: {
            'en': 'Network Error',
            'zh-tw': '網路錯誤'
          }
        })
        sampleController.error.remove('404')

        sampleController.controller
          .add({
            name: 'test.good',
            descript: 'Test Good API',
            action: {
              method: 'get',
              url: '9eac8fc4-456b-4d0e-b745-d1ea884ade0e'
            }
          })

        window.a = function () {
          return sampleController.controller.use('test.good')
            .then((res) => {
              console.log('finally', res)
            })
            .catch(ers => {
              console.error('finally ers', ers)
            })

          }
        window.sampleController = sampleController
      }
    </script>
  </div>
</html>